body{
    text-align: center;
    font-size: 40px;
}
.a{
    background-color: aquamarine;
    position: fixed;
    left: 0;
    right: 0;
}
.b{
    background-color:pink;
    width:550px;
    height:1000px;
    padding-top:30%;
    padding-bottom:30%;
    margin-right: auto;
    margin-left: auto;
}
.c{
     background-color: lightblue;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
} 
